@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

/* Full Page Decoration */

*{
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.container {
  max-width: 1280px;
  margin: auto;
}

/* Header Section */

nav ul{
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    font-size: 14px;
    color: #36454F;
}

/* Main Section */

.banner-intro h1{
    font-size: 65px;
    font-weight: bolder;
    margin-bottom: 5px;
}

.banner-intro h3{
   position: relative;
   margin-left: 15%;
}

.banner-intro img{
    margin-top: 30px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.lit-bio{
    margin-top: 60px;
}

.lit-bio h4:nth-child(1){
    position: relative;
    margin-left: 40%;
    font-size: 20px;
    font-weight: 300;
}

.lit-bio h4:nth-child(2){
    position: relative;
    margin-left: 40%;
    font-size: 24px;
    font-weight: 800;
}

.lit-bio h4:nth-child(3){
    position: relative;
    margin-left: 40%;
    font-size: 20px;
    font-weight: 300;
}

.expectation h1{
    margin-top: 60px;
    font-size: 65px;
}

.expectation-details-1{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 60px;
}

.expectation-item-1 h3{
    background-color: #8AD8C0;
    color: #36454F;
    padding: 60px 70px;
    border-radius: 10px;
    font-size: 30px; 
}

.expectation-item-2 h3{
    background-color: #C7F459;
    color: #36454F;
    padding: 100px 100px;
    border-radius: 10px;
    font-size: 30px;
}

.expectation-details-2{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 0;
}

.expectation-item-3 h3{
    background-color: #F3A196;
    color: #36454F;
    padding: 81px 70px;
    border-radius: 10px;
    font-size: 30px; 
}

.expectation-item-4 h3{
    background-color: #8ECDDC;
    color: #36454F;
    padding: 100px 100px;
    border-radius: 10px;
    font-size: 30px;
}

.finish-sign{
    margin-top: 60px;
}

.finish-sign h4:nth-child(1){
    position: relative;
    margin-left: 40%;
    font-size: 18px;
    font-weight: 300;
}

.finish-sign h4:nth-child(2){
    /* margin-top: 0; */
    position: relative;
    margin-left: 40%;
    font-size: 18px;
    font-weight: 300;
}

.finish-sign img{
    margin-top: 20px;
    position: relative;
    margin-left: 40%;
    height: 100px;
    width: 100px;
}

/* Footer Section */

footer{
    display: flex;
    justify-content: space-between;
}

footer h5{
    font-weight: 300;
}

footer ul{
    display: flex;
    gap: 30px;
}

footer ul li{
    list-style: none;
}

footer ul li a{
    text-decoration: none;
    font-size: 14px;
    color: #36454F;
}

